################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TareaProgra1/obj/Debug/net6.0/TareaProgra1.csproj.AssemblyReference.cache
