@model IEnumerable<TareaProgra1.Models.Tablas>

<h2>Edit Article with ID: @ViewBag.ArticuloId</h2>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ArticuloEntity</h4>
<hr />
<div class="row">
    <form id="filtrarPorClaseArticulo">
        <label for="label" id="1"> Nombre: </label>
        <input type="text" id="inputNombre" name="strNombre">
        <label for="label" id="2"> Precio: </label>
        <input type="text" id="inputPrecio" name="strPrecio">
        <label for="label" id="3"> Codigo: </label>
        <input type="text" id="inputCodigo" name="strCodigo">
        <label for="label" id="4"> Clase Articulo: </label>
        <select id="menuClaseArticulo">
            @foreach (var item in ViewBag.ClaseArticulo)
            {
                <option>@item.Nombre</option>
            }
        </select>
        <button type="button" id="botonGuardar"> Guardar - Actualizar </button>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.getElementById("botonGuardar").addEventListener("click", function () {
        var nombrePorCambiar = document.getElementById("inputNombre").value;
        var precioPorCambiar = document.getElementById("inputPrecio").value;
        var codigoPorCambiar = document.getElementById("inputCodigo").value;
        var claseArticuloPorCambiar = document.getElementById("menuClaseArticulo").value;

        $.ajax({
            url: '/ArticuloEntities/EditarArticulo',
            type: 'POST',
            data: { nombreArticulo: nombrePorCambiar, precioArticulo: precioPorCambiar, codigoArticulo: codigoPorCambiar, claseArticulo: claseArticuloPorCambiar, id: @ViewBag.ArticuloId },
            success: function (response) {
                $('#tablaArticulos tbody').html(response);
                console.log("Función ejecutada con éxito:", response);
            },
            error: function (error) {
                console.error("Error al llamar a la función:", error);
            }
        });
    });
</script>

